include README.rst

# Include the data files
recursive-include game2/images *
recursive-include game2/images/items *
recursive-include game2/images/soldier_icon *
recursive-include game2/images/weapons *
